<h1>Listing users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Pass</th>
      <th>Mail</th>
      <th>Birthdate</th>
      <th>Origin</th>
      <th>Description</th>
      <th>Avatar</th>
      <th>Links</th>
      <th>Status</th>
      <th>Lon</th>
      <th>Lat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.users_id %></td>
        <td><%= user.users_name %></td>
        <td><%= user.users_pass %></td>
        <td><%= user.users_mail %></td>
        <td><%= user.users_birthdate %></td>
        <td><%= user.users_origin %></td>
        <td><%= user.users_description %></td>
        <td><%= image_tag user.users_avatar, :width => 100, :heigth => 100, :crop => :fill, :radius => :max %></td>
        <td><%= user.users_links %></td>
        <td><%= user.users_status %></td>
        <td><%= user.users_lon %></td>
        <td><%= user.users_lat %></td>
        <td><%= button_to 'Show', user, :class => "btn btn-primary btn-sm", :method => :get  %></td>
        <td><%= button_to 'Edit', edit_user_path(user), :class => "btn btn-info btn-sm", :method => :get %></td>
        <td><%= button_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning btn-sm", :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, :class => "btn btn-success btn-sm", :method => :get %>
