<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Users name:</strong>
  <%= @user.users_name %>
</p>

<p>
  <strong>Users pass:</strong>
  <%= @user.users_pass %>
</p>

<p>
  <strong>Users mail:</strong>
  <%= @user.users_mail %>
</p>

<p>
  <strong>Users birthdate:</strong>
  <%= @user.users_birthdate %>
</p>

<p>
  <strong>Users origin:</strong>
  <%= @user.users_origin %>
</p>

<p>
  <strong>Users description:</strong>
  <%= @user.users_description %>
</p>

<p>
  <strong>Users avatar:</strong>
  <%= @user.users_avatar %>
</p>

<p>
  <strong>Users links:</strong>
  <%= @user.users_links %>
</p>

<p>
  <strong>Users status:</strong>
  <%= @user.users_status %>
</p>

<p>
  <strong>Users lon:</strong>
  <%= @user.users_lon %>
</p>

<p>
  <strong>Users lat:</strong>
  <%= @user.users_lat %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
